---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Grada Blaugrana, somos la prensa dedicada por y para 
		el Barça, velando por mantener informacion objetiva y detallada del dia a dia del club" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/FCBicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			90deg, 
			rgba(165,0,68,1) 6%, 
			rgba(0,77,152,1) 37%, 
			rgba(255,237,2,1) 50%);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #f1f1f1;
		background-size: 224px;
	}
	body{
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
